

mushCompiler.suo

EditPad/backupJGCS.bat

mushCompiler/bin/Debug/mushCompiler.pdb

mushCompiler/obj

mushCompiler/bin/Debug/Compiles

mushCompiler/mushCompiler.csproj.user

mushCompiler/bin/Debug/mushCompiler.vshost.exe

mushCompiler/bin/Debug/mushCompiler.vshost.exe.manifest
